.child_1 {
  width: 300px;
  height: 300px;
  background-color: brown;
}
.child_2 {
  width: 300px;
  height: 300px;
  background-color: rgb(238, 15, 212);
}
.child_3 {
  width: 300px;
  height: 300px;
  background-color: chocolate;
}
.child_4 {
  width: 300px;
  height: 300px;
  background-color: rgb(13, 227, 5);
}
.child_5 {
  width: 300px;
  height: 300px;
  background-color: coral;
}
.child_6 {
  width: 300px;
  height: 300px;
  background-color: darkblue;
}
.child_7 {
  width: 300px;
  height: 300px;
  background-color: darkmagenta;
}
.child_8 {
  width: 300px;
  height: 300px;
  background-color: darkgoldenrod;
}
.pedar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 1000px;
  background-color: aquamarine;
}
