.container {
  width: 1400px;
  height: 1000px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
div[class*="child"]:nth-child(even) {
  width: 200px;
  height: 300px;
  background-color: brown;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}
div[class*="child"]:nth-child(odd) {
  width: 200px;
  height: 300px;
  background-color: rgb(12, 235, 0);
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* div.child15 {
  flex-grow: 1;
} */
div.child16 {
  flex-grow: 1;
}
